<h3>Leaderboard</h3>
<br> 
<Table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 5%;"></th>
            <th style="width: 4%;text-align: right;">a = 3 point</th>
            <th style="width: 4%;text-align: right;">b = 2 point</th>
            <th style="width: 4%;text-align: right;">c = 3 point</th>
            <th style="width: 4%;text-align: right;">d = 1 point</th>
            <th style="width: 4%;text-align: right;">e  = 2 point</th>
            <th style="width: 4%;text-align: right;">z = 2 point</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</Table>